/* Media Queries*/

@media screen and ( min-width: 400px) {
  /*  Header - adjusting the height and centering content  */
  .hd { height: 325px; padding-top: 80px;}
}


@media screen and ( min-width: 600px) {
  .hd {
    /*  Header - adjusting the height and spliting logo to left and profile right  */
    height: 120px;
    padding-top: 10px;
    border-bottom: 2px solid #f1c40f;
    margin: 20px 20px;
  }


  .hd__logo {
    float: left;
    width: 50%;
  }


  .logo__img {
    height: 75px;
    margin: 0;
  }


  .hd__profile {
    float: right;
    text-align: right;
    width: 50%;
    padding-top: 10px;}


  .hd__s-media { float: right; text-align: center;}

  .pg__quote { font-size: 2em;}

  .quote { padding: 20px; height: 380px; margin: 0 20px;}

  .quote__pg { position: relative; top: 30%;}

  .work__title { text-align: left; padding-left: 20px;}

  .work__item { width: 50%;}

  .item--full-width { width: 100%;}

  .work__item { padding: 20px 20px; margin-bottom: 0;}
}



@media screen and ( min-width: 800px) {
  .hd { height: 130px;}

  .logo__img { height: 110px;}

  .profile__name { font-size: 2em;}

  .profile__title { font-size: 1em;}

  .work__item { width: 33.3%;}

  .work__item:nth-child(2) {
    width: 33.3%;
    padding: 20px 20px;
    margin-bottom: 0;
  }

}
