/* Common */

* {
  box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


p {
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #272626;
  padding: 0;
  margin: 0;
}


img,
embed,
object,
video {
  max-width: 100%;
}


header,
main,
div,
section {
  display: block;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #c43;
}


/* layout */

header,
main,
footer {
  width: 100%;
}


.container {
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-wrap: wrap;
  background-color: #fff;
}


header {
  height: 245px;
  padding: 50px 0 20px;
}


.logo {
  width: 100%;
  order: 0;
  padding-bottom: 10px;

}


.logo img {
  height: 100px;
  margin: 0 auto;
  display: table;
}


.profile {
  order: 1;
  text-align: center;
}


.profile h2 {
  font-size: 1.3em;
  text-transform: capitalize;
  color: #111;
}


.profile p {
  font-size: 0.75em;
  text-transform: capitalize;
  color: #1a1a1a;
}


.social_media {
  order: 2;
  list-style-type: none;
  height: 100%;
  margin: 5px 0 0;
  padding: 5px 0;
  text-transform: uppercase;
}


li {
  display: inline;
}


.social_media a {
  text-decoration: none;
  padding: 0.65em 0.85em;
  vertical-align: bottom;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.8em;
  color: #3ae;
}


.social_media a:hover, a:focus {
  color: #38c;
}


/* Main */


main {
  height: auto;
  vertical-align: bottom;
}


.hero {
  order: 3;
  height: auto;
  font-size: 0.85em;
  padding: 10px 20px;
  text-align: right;
  background-color: #acd;
}


/* Footer */


footer {
  order: 4;
  height: auto;
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-wrap: wrap;
  padding-top: 10px;
}


.footer_title {
  border-bottom: 1px solid #eee;
  line-height: 25px;
  width: 100%;
  margin: 10px 0 0;
  text-align: center;
}


figure {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 25px;
  border: 1px solid #fff;
}


figure a {
  /* opacity applied to images before hovering */
  opacity: 0.6;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


figure a:hover {
  /* Opacity back to 100 percent when cursor hovers */
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}


figure:nth-child(even) {
  /* background color for every-other box-item */
  background-color: #fff;
}


figcaption {
  padding: 10px 0 0;
}


figcaption p {
  margin-top: 5px;
}
